<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>"Reset-password"</title>
  </head>
  <body>
    <form action="/password/resetpassword/<%= token%>" method="POST">
      <div class="form-group">
        <label for=""> New-password</label>
        <input type="text" name="newPassword" id="newpassword" placeholder="Input new-password" required />
      </div>
      <div class="form-group">
        <label for=""> Repeat-password</label>
        <input type="text" name="repeatPassword" id="repestpassword" placeholder="repeat password" required />
      </div>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
