<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
          <li><a href="/">Homepage</a></li>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/logout">Logout</a></li>
      </ul>
  </nav>
  <h1>Welcome to the Project Management</h1>
</body>
  </body>
</html>
