<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/loginStyle.css" />
    <title>Login</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </nav>
    <main>
      <h2 >Welcome back <%= user%></h2>
    </main>
  </body>
</html>
